@charset "UTF-8";



h1 {
	text-align: center;
	margin-top: 5%;
	
}
table { 
	margin :auto;
	border-spacing:15px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
#login_box{
	font-size: 1.4em;
    padding: 0.4em 0;
    background-color: white;
}
#login_button{
	background-color: yellow;
	font-size: 1em;
    padding: 0.6em;
    font-weight: bold;
   
}
#register_button{
	background-color: yellow;
	font-size: 1em;
    padding: 0.6em;
    font-weight: bold;
}


/* .footer_style {
 	 position:fixed!important;
} */

  
  
  
 