@charset "UTF-8";
/*컨텐츠 영역 */
.wrap_contents{
	margin:0 auto;
	margin-top: 60px;
	max-width: 500px;
	min-height: 300px;
	
	
	
}
.content_header{
	border:5px solid black;
}
.h1_title{
	font-size: 20px;
	text-align: center;
}
.p_info{
	font-size: 15px;
	text-align: center;
}


td,tr,input,testarea,select,form{
	font-size:18px;
	border-radius: 5px;
}
table,form
{
	
	border-spacing:15px;
}




